* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif; 
    line-height: 1.6; 
    background-color: #f4f4f4; 
    color: #f17500;
}

header {
    background-color:#fb5607;
    color: rgb(43, 9, 9); 
    padding: 15px 0; 
    text-align: center; 
}
header img{
    width:20%;
    border:#f4f4f4 solid 2px;
    border-radius:50px;
}
nav ul {
    list-style-type: none; 
}

nav ul li {
    display: inline; 
    margin-right:75%;
}

nav a {
    color: white; 
    text-decoration: none; 
}

nav a:hover {
    text-decoration: underline; 
}

main {
    padding: 40px; 
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
#comida{
    width:40%;
    border-radius:  40px;
}
footer {
    color:black;
    background-color:#da6c3a;
    display:  grid;
    place-items: center;
    height:  50px;
}


.delivery-info {
    background-color: white; 
    border-radius: 8px; 
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2); 
}


ul {
    list-style-type: none; 
}

.delivery-info ul li {
    margin:30px;
}
.delivery-info p{
    margin-top:20px;
    margin-top:20px;

}
